.App {
  text-align: center;
}



.App-header {
 /* background-image: url(pp.jpg);*/
  
 
  background-color: #EEEEEE;
  height: 350px;
  padding: 20px;

}

.App-title {
  text-align: left;
  font-size: 50px;
  color: #000000;
}



